@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 60px;
}

button{
    background: none;
    border: none;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.timer, 
.tasks{
    width: 50%;
    padding: 50px 75px;
}

.timer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(158, 226, 0, 0.5), rgba(158, 226, 0, 0.5)),
     url('https://github.com/lucasbeskow/clock/blob/main/forest.jpg?raw=true') 50% / cover no-repeat;
}

.counter{
    flex-grow: 1;
    align-content: center;
}

#clock{
    font-size: 8rem;
    font-weight: 900;
}

.cicle{
    font-size: 1.6rem;
    font-weight: 700;
    padding: 16px;
}

.btn-link{
    font-size: 1.4rem;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 4px;
}

.btn-large{
    font-size: 3rem;
    padding: 16px 32px;
}

.btn-alt{
    background-color: #9EE200;
    border-color: #9EE200;
    color: var(--color-primary);
}

.btn-active,
.btn-link:hover{
    background-color: black;
    color: white;
}

.hidden{
    display: none;
}


/* BEM - Block Element Modifier */

.tasks{
    display: flex;
    flex-direction:column;
    width: 50%;
    padding: 24px 72px;
}


.tasks__header{
    padding: 24px 0;
}

.tasks__header h2{
    display: inline-block;
    margin: 0;
}

.tasks__header button{
    float: right;
}


.tasks__list{
    flex-grow: 1;
    padding-left: 0;
}

.tasks__list li{
    display: flex;
    align-items: center;
    padding: 18px 0;
    border-bottom: 1px solid #ddd;
}

.tasks__list--card li{
    display: flex;
    padding: 18px 12px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.tasks__list li > label{
    flex-grow: 1;
    padding: 4px 8px;
}

.tasks__list li input[type="checkbox"]:checked + label{
    text-decoration: line-through;
}

.tasks__list li > input[type="text"]{
    width: 100%;
    padding: 4px;
    margin-left: 8px;
    font-size: 1rem;
    border: none;
}